html,
body{
	height: 100%;
	padding: 0;
	margin:0;
}
body{
	background-image: url('https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg');
	background-attachment:fixed;
	color:#fff;
}
#container{
	width: 100%;
	z-index: -999;
	background:rgba(0,0,0,.5);
	display: flex;
	justify-content: center; 
}
.item{
	background-image: url('https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg');
	background-repeat:no-repeat;
	width:300px; 
	height:200px;
	display: inline-block;
	list-style: none;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 80px;
	padding-top: 10px;
	position: relative;
	left: 10%;
}
.avatar{
	background: #000;
	opacity: 0.6;
	position: absolute;
	top: 180px;
	width: 320px;
	height: 110px;
	left: 0px;	
}
.img{
	border-radius: 50%;
	background-size: 50px 50px;
	width: 70px;
	height: 70px;
	position: relative;
	left: 20px;
	top:20px;
}
.channel,
.host{
	position: relative;
	left:120px;
	bottom:60px;
}